.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  min-width: 100px;
  max-height: 400px;
  margin: 10px;
  background-color: white;
  z-index: 1;
  width: 100%;
  padding: 20px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}

.product__title {
  display: flex;
  flex-direction: column;
  margin: 2px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product__image {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product__button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
